<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>淡江大學資創系校友重聚會圖片上傳系統</title>
</head>
<body>
	<form method="post" enctype=multipart/form-data>
		<p>Please notice that, if you own a UUID, please enter the UUID to update your pictures!</p>
		<br/>
		<p>Image 1:</p><input type="file" id="img1" name="img1"><br/>
		<p>Image 2:</p> <input type="file" id="img2" name="img2"><br/>
		<p>Email: </p><input type="text" name="email" required><br/>
		<p>UUID: </p><input type="text" name="UUID" ><br/>
		<p>Name: </p><input type="text" name="name" required><br/>
		<select id="grade" name="School Year">
			<option value="94">94</option>
			<option value="95">95</option>
			<option value="96">96</option>
			<option value="97">97</option>
			<option value="98">98</option>
			<option value="99">99</option>
			<option value="100">100</option>
			<option value="101">101</option>
			<option value="102">102</option>
			<option value="103">103</option>
			<option value="104">104</option>
			<option value="105">105</option>
			<option value="106">106</option>
			<option value="107">107</option>
			<option value="108">108</option>
			<option value="109">109</option>
		</select>
		<select id="department" name="">
			<option value="資通">資通</option>
			<option value="資軟">資軟</option>
			<option value="資創">資創</option>
		</select>
		<input type="submit" name="send" value="submit" required><br/>
	</form>
</body>
</html>

