<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>淡江大學資創系校友重聚會圖片上傳系統</title>
</head>
<body>
	<form method="post" enctype=multipart/form-data>
		<p>Please notice that, if you own a UUID, please enter the UUID instead to update your pictures!</p>
		<br/>
		<p>Image 1:</p><input type="file" id="img1" name="img1"><br/>
		<p>Image 2:</p> <input type="file" id="img2" name="img2"><br/>
		<p>Email: </p><input type="text" name="email"><br/>
		<p>UUID: </p><input type="text" name="UUID"><br/>
		<input type="submit" name="send" value="送出"><br/>
	</form>
</body>
</html>

